{% extends "base.html" %}

{% block title %}EYECAM{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
    	{% if current_user.is_authenticated %}
	    	<ul class="cameras">
	    		{% for camera in cameras%}
	    			<li class="camera">
	    				<a href="{{ url_for('camera.livefeed', camNum=camera.cameraName) }}">{{ camera.cameraName }} Live Feed</a>
	    			</li>
	    		{% endfor %}
	    	</ul>
    	{% else %}
    	   Please log in to have access to EyeCam!
    	{% endif %}
    </h1>
</div>
{% endblock %}
